@use '../abstract/mixins';
@use '../abstract/variables';

.footer {
    @include mixins.flex-space-bt-color(row, 100%, #fff);
    background-color: variables.$secondary-color;
    height: 110px;

    &__menu {
        @include mixins.flex-space-bt-color(row, 50%, #fff);
        height: 100%;
        padding-left: 5%;

        &__line {
            width: 1px;
            height: 90px;
            background: #fff;
        }

        &__nav {
            @include mixins.flex-space-bt-color(row, 40%, #fff);
            list-style: none;

            & li a{
                text-decoration: none;
                color: inherit;
                font-size: 1.2rem;
            }
        }

    }

    &__developers{
        @include mixins.flex-space-bt-color(column, 30%, #fff);
        font-size: 1.2rem;
    }
}