@use '../abstract/mixins';
@use '../abstract/variables';

.footer {
    @include mixins.flex-space-bt-color(row, 100%, #fff);
    background-color: variables.$secondary-color;

    &__menu {
        @include mixins.flex-space-bt-color(row, 40%);

        &__line {
            width: 1px;
            height: 85%;
            background-color: #fff;
        }

        &__nav {
            @include mixins.flex-space-bt-color(row, 40%, #fff);
            list-style: none;

            & li a{
                color: inherit;
                text-decoration: none;
            }
        }

    }
}