@use '../abstract/mixins';
@use '../abstract/variables';

.planet-characters {
    @include mixins.flex-space-bt-color(row, 95%, #fff);
    align-items: center;

    &__arrows {
        &__arrow-right {
            rotate: 180deg;
        }

        &__arrow-left2 {
            display: none;
        }
    }


    @include mixins.breakpoint(1200px) {
        flex-direction: column;

        &__arrow-left {
            display: none;
        }

        &__arrows {
            display: flex;
            flex-direction: row;
            gap: 40px;

            &__arrow-left2 {
                display: block;
            }
        }

    }


    &__carousel {
        @extend .planet-characters;
        margin: 80px;
        justify-content: center;

        @include mixins.breakpoint(1200px) {
            flex-direction: row;

            & &__item:nth-child(3) {
                display: none;
            }
        }

        @include mixins.breakpoint(767px) {
            & &__item:nth-child(2) {
                display: none;
            }
        }

        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: variables.$primary-color;
            margin: 10px;
            border-radius: 28px;
            width: 310px;

            img {
                height: 380px;
                width: 100%;
                border-radius: 28px 28px 0 0;
                object-fit: cover;
            }

            p {
                color: variables.$secondary-color;
                font-size: 1.5rem;
                padding: 10px;
            }

            &__rating {
                background-color: variables.$secondary-color;
                @include mixins.flex-space-bt-color(row, 60%, #393939);
                padding: 10px;
                border-radius: 12px 12px 0 0;
                place-self: center;

                img {
                    height: 27px;
                    width: auto;
                }
            }

            &__btn {
                background-color: variables.$secondary-color;
                color: variables.$primary-color;
                height: 94px;
                width: 94px;
                border-radius: 50%;
                border: 4px solid variables.$primary-color;
                position: absolute;
                font-size: 2.125rem;
                font-weight: 500;
                left: 63%;
                top: 54%;
                box-shadow: 0px 0px 50px -14px #000;
            }

            &__star img {
                height: 47px;
                width: 47px;
                position: absolute;
                background-color: variables.$secondary-color;
                border-radius: 50%;
                padding: 8px;
                top: 10px;
                left: 10px;
            }
        }
    }
}