@use '../abstract/mixins';

.planet-details{
    @include mixins.flex-space-bt-color(row, 100%, #fff);
    font-size: 2.25rem;

    &__text{
        margin-right: 10%;
    }

    &__img-small{
        display: none;
    }

    @include mixins.breakpoint(945px){
        flex-direction: column;
        align-items: center;

        &__img{
            display: none;
        }

        &__img-small{
            display: block;
            width: 70%;
        }

        &__text{
            font-size: 2rem;
            margin: 10px;
        }
    }
}