body{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('../assets/cielo-estrellado.png');
    background-repeat: repeat;
    font-family: 'IBM Plex Mono', monospace;
    overflow-x: hidden;
}