body {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("../assets/cielo-estrellado.png");
  background-repeat: repeat;
  font-family: "IBM Plex Mono", monospace;
}

header, header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 100%;
}
header img, header .nav img {
  width: 420px;
}
header .nav {
  gap: 80px;
  list-style: none;
  width: 40%;
}
header .nav__item a {
  color: inherit;
  text-decoration: none;
  color: #87F54E;
  font-size: 1.5rem;
  font-weight: 400;
}
header .nav__item {
  transition: transform 0.3s ease-in-out;
}
header .nav__item:hover {
  transform: scale(1.2);
}

.planets {
  display: grid;
  place-self: center;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, minmax(100px, 300px));
  grid-template-columns: repeat(auto-fit, minmax(120px, 250px));
}
.planets img:nth-child(1) {
  place-self: center end;
}
.planets img:nth-child(2) {
  place-self: center start;
}
.planets img:nth-child(3) {
  place-self: center;
}
.planets img:nth-child(4) {
  place-self: end;
}
.planets img:nth-child(5) {
  place-self: center;
}
.planets img:nth-child(6) {
  place-self: center;
}
.planets img:nth-child(7) {
  place-self: center end;
}
.planets img:nth-child(8) {
  place-self: center;
}
.planets img:nth-child(9) {
  place-self: start end;
}
.planets img:nth-child(10) {
  place-self: end center;
}
.planets img:nth-child(11) {
  place-self: end center;
}
.planets img:nth-child(12) {
  place-self: center end;
}
.planets img:nth-child(13) {
  place-self: center end;
}
.planets img:nth-child(15) {
  place-self: center;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #272727;
  height: 110px;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100%;
  padding-left: 5%;
}
.footer__menu__line {
  width: 1px;
  height: 90px;
  background: #fff;
}
.footer__menu__nav {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  list-style: none;
}
.footer__menu__nav li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}
.footer__developers {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}

.planet-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 2.25rem;
}
.planet-details__text {
  margin-right: 10%;
}

.planet-characters, .planet-characters__carousel {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.planet-characters__arrow-right {
  rotate: 180deg;
}
.planet-characters__carousel {
  margin: 80px;
}
.planet-characters__carousel__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #87F54E;
  margin: 10px;
  border-radius: 28px;
  width: 310px;
}
.planet-characters__carousel__item img {
  height: 380px;
  width: 100%;
  border-radius: 28px 28px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.planet-characters__carousel__item p {
  color: #272727;
  font-size: 1.5rem;
  padding: 10px;
}
.planet-characters__carousel__item__rating {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  color: #393939;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  place-self: center;
}
.planet-characters__carousel__item__rating img {
  height: 27px;
  width: auto;
}
.planet-characters__carousel__item__btn {
  background-color: #272727;
  color: #87F54E;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  border: 4px solid #87F54E;
  position: absolute;
  font-size: 2.125rem;
  font-weight: 500;
  left: 63%;
  top: 54%;
  box-shadow: 0px 0px 50px -14px #000;
}
.planet-characters__carousel__item__star img {
  height: 47px;
  width: 47px;
  position: absolute;
  background-color: #272727;
  border-radius: 50%;
  padding: 8px;
  top: 10px;
  left: 10px;
}/*# sourceMappingURL=styles.css.map */